body {
  background: orange;
  color: white;
  font-family: arial; }

h1 {
  text-align: center; }

.code {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1.25rem 1.5rem;
  display: block;
  overflow-x: auto;
  background: #1d1f21;
  color: #c5c8c6; }

pre code {
  background-color: transparent;
  border: 0;
  display: inline;
  font-size: 85%;
  line-height: inherit;
  margin: 0;
  max-width: auto;
  overflow: visible;
  padding: 0;
  white-space: pre;
  word-break: normal;
  word-wrap: normal; }

.code-title {
  color: #b294bb; }

.code-keyword {
  color: #de935f; }

.code-func {
  color: #81a2be; }
